BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Right
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: false
BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketFunction: true
AllowAllArgumentsOnNextLine: true